<%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track' => true %>

<ul>
  <li ><%= link_to "View Menu", food_items_path, class: "waves-effect waves-light deep-purple btn"%></li>
  <li><%= link_to "View Staff", new_user_path, class: "waves-effect waves-light deep-purple btn"%></li>
  <li><%= link_to "Log Out", sessions_path, method: :delete, class: "waves-effect waves-light deep-purple btn", id: 'logout-a' %></li>
</ul>
