<%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track' => true %>
<h2>Welcome</h2>
<ul>
  <li><a href="/parties" class="waves-effect waves-light deep-purple btn">Parties</a></li>

  <li><a href="/orders" class="waves-effect waves-light deep-purple btn">Orders</a></li>
</ul>
