<li><%= link_to "Home", root_path%></li>
<h2>Welcome</h2>
<ul>
  <li><a href="/parties">New Party</a></li>
  <li><a href="/orders/new">New Order</a></li>
  <li><a href="/orders">All Orders</a></li>
</ul>
