<h2>Staff</h2>
<div class="container">
  <%= form_tag users_path do %>
    <%= label_tag(:user) %>
    <%= collection_select(:user, :user_id, User.all, :id, :username, class: 'browser-default')%> <br>
    <%=submit_tag 'Login' %>
    <% end %>
</div>
