<%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true %>
<h1>RestaurantApp</h1>
<ul>
  <li><a class="waves-effect waves-light deep-purple lighten-5 btn" href="/adminslogin">admin</a></li>
  <li><a class="waves-effect waves-light deep-purple lighten-5 btn" href="/login">staff</a></li>
</ul>
