<%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true %>
<h1>RestaurantApp</h1>
<ul>
  <li><a href="/adminslogin">ADMIN</a></li>
  <li><a href="/login">STAFF</a></li>
</ul>
