<li><%= link_to "Home", root_path%></li>
<h2>Orders</h2>

<ul>

  <% @orders.each do |order| %>
    <li>
      <% if order.party %>
    Last Name: <%= order.party.name %> <br>
    <% end %>
      Order: <%= order.food_item.name %> <br>
    </li>
  <% end %>
</ul>
